---
- name: Login no cluster TH
  import_tasks: 10_login_clusters.yml

- name: Ajustar FLAVOUR do DC e aguardar rollout
  ansible.builtin.include_tasks: 11_patch_flavour_dc.yml
  when: STEP is not defined or 'BD_FLAVOUR' in STEP

- name: Verificar heartbeat/MsgSeqNum e remediação
  ansible.builtin.include_tasks: 12_check_heartbeat.yml
  when: STEP is not defined or 'BD_FLAVOUR' in STEP

- name: DB – calendário de pregão
  ansible.builtin.include_tasks: 20_db_exchange_calendar.yml
  when: STEP is not defined or 'BD_FLAVOUR' in STEP

- name: DB – marketdata
  ansible.builtin.include_tasks: 30_db_marketdata.yml
  when: STEP is not defined or 'BD_FLAVOUR' in STEP

- name: UMDF – canais e DELTA
  ansible.builtin.include_tasks: 40_umdf_channels.yml
  when: STEP is not defined or 'UMDF_PODS' in STEP

- name: Verificar/rodar jobs de marketdata e coletar logs
  ansible.builtin.include_tasks: 45_marketdata_jobs_run_and_logs.yml
  when: STEP is not defined or 'UMDF_PODS' in STEP

- name: Streams/DDS – DELTA em pods
  ansible.builtin.include_tasks: 50_streams_delta.yml
  when: STEP is not defined or 'UMDF_PODS' in STEP

- name: DDS-Stream – testes de portas
  ansible.builtin.include_tasks: 51_dds_stream_telnet.yml
  when: STEP is not defined or 'UMDF_PODS' in STEP

- name: Deletar Pods do Cheetah
  ansible.builtin.include_tasks: 55_delete_cheetah_pods.yml
  when: STEP is not defined or 'UMDF_PODS' in STEP

- name: Gerar relatório e set_stats para e-mail
  ansible.builtin.include_tasks: 60_generate_report.yml
