---
- name: Inicializar listas globais de canais streams
  ansible.builtin.set_fact:
    streams_all_channels: []
    streams_channels: []

- name: Iterar namespaces de streams
  ansible.builtin.include_tasks: 41_streams_loop_namespace.yml
  loop: "{{ streams_openshift_namespaces }}"
  loop_control:
    loop_var: streams_namespace

- name: Resumo de streams
  ansible.builtin.set_fact:
    inicio_streams_report: >-
      {{
        (inicio_streams_report | default({}))
        | combine({
            'channels': (streams_all_channels | default([])),
            'high_delta': (streams_channels | default([])),
            'delta_threshold': (streams_delta_threshold | int)
          }, recursive=True)
      }}
  changed_when: false
