---
exchange_calendar_queries:
  close_previous_days:
    sql: |
      UPDATE tb_exchange_calendar
      SET in_processed_bdi = 'S',
          in_processed_bdi_bmf = 'S',
          in_processed_tb_stock_initial_update = 'S',
          in_processed_in_memory_dump = 'S'
      WHERE dt_trade_day < to_char(CURRENT_timestamp, 'YYYYMMDD')::INTEGER;

  insert_trade_day:
    sql: |
      INSERT INTO tb_exchange_calendar (
        id_exchange,
        dt_trade_day,
        time_session_start,
        time_session_end,
        time_after_hours_start,
        time_after_hours_end,
        in_processed_bdi,
        in_processed_bdi_bmf,
        in_processed_tb_stock_initial_update,
        in_processed_in_memory_dump,
        time_session_pre_open,
        has_after_market
      ) VALUES (
        {{ exchange_id }},
        {{ trade_day }},
        100000,
        170000,
        173000,
        180000,
        'N',
        'N',
        'N',
        'N',
        94580,
        'N'
      )
      ON CONFLICT (id_exchange, dt_trade_day) DO UPDATE
      SET time_session_start = EXCLUDED.time_session_start,
          time_session_end   = EXCLUDED.time_session_end;

  check_prev_and_current:
    sql: |
      SELECT *
      FROM tb_exchange_calendar
      WHERE dt_trade_day BETWEEN
        cast(to_char(CURRENT_DATE - 1, 'yyyymmdd') as int4)
        AND cast(to_char(CURRENT_DATE, 'yyyymmdd') as int4);
