---
- name: Authenticate in cluster openshift
  redhat.openshift.openshift_auth:
    host: "{{ openshift_api_url }}"
    username: "{{ ocp_user }}"
    password: "{{ ocp_password }}"
    validate_certs: false
  register: openshift_auth_results
  delegate_to: localhost

- name: Get info cluster
  kubernetes.core.k8s_info:
    kind: ClusterVersion
    api_version: config.openshift.io/v1
    host: "{{ openshift_api_url }}"
    api_key: "{{ openshift_auth_results['openshift_auth']['api_key'] }}"
    verify_ssl: false
  register: cluster_info
  delegate_to: localhost

- name: Filter cluster info
  ansible.builtin.set_fact:
    filtered_info: >-
      {{ cluster_info.resources | json_query(
        '[].{
          apiVersion: apiVersion,
          kind: kind,
          metadata: { name: metadata.name },
          spec: spec
        }'
      ) 
      }}
  delegate_to: localhost

- name: get cluster id
  ansible.builtin.set_fact:
    cluster_id: "{{ filtered_info | map(attribute='spec.clusterID') }}"
  delegate_to: localhost

- name: Debug Cluster id
  ansible.builtin.debug:
    msg: "esse e o clusrer id {{ cluster_id[0] }}"
