---
# Clusters OCP (se quiser, pode usar em outras tasks)
ocp_clusters:
  TH:
    api_url: "https://api.cluster-kwcm4.dynamic.redhatworkshops.io:6443"

cluster_th_name: "TH"

ocp_user: ""
ocp_password: ""

# Dia de pregão alvo
trade_day: "{{ lookup('pipe', 'date +%Y%m%d') | int }}"
exchange_id: 1

db:
  name: mockdb
  host: postgres.postgres.svc.cluster.local
  port: 5432
  user: mockuser
  password: "mockpassword"

# UMDF
umdf_host: 192.168.0.115
umdf_start_before_check: true
umdf_start_script_dir: "/umdfserver"
umdf_start_script: "./startday.sh"
# esperar 5 minutos?
umdf_start_wait_seconds: 20
umdf_pause_start: 40

umdf_telnet_host: "127.0.0.1"
umdf_telnet_port: 4050
umdf_telnet_sleep: 5
umdf_delta_threshold: 30
umdf_restart_on_high_delta: false

# STREAM-JOB (marketdata TH) – DELTA via "list"
streams_openshift_namespaces:
  - ag-bkg-mock-marketdata-th
streams_telnet_host: 127.0.0.1
streams_telnet_port: 4011 # telnet localhost 4011
streams_telnet_sleep: 2
streams_delta_threshold: 30 # DELTA > 30 considera alto
streams_restart_on_high_delta: false

# DDS-Stream – testes de portas
dds_namespace: ag-bkg-mock-dds-th # namespace onde fica o DC dds-stream
dds_dc_name: stream

dds_delta_threshold: 30

dds_telnet_sleep: 3
dds_telnet_tests:
  - name: "telnet localhost 4010"
    host: "127.0.0.1"
    port: 4010
  # - name: "telnet {{ umdf_host }} 4050"
  #   host: "{{ umdf_host }}"
  #   port: 4050
  # - name: "telnet {{ umdf_host }} 4001"
  #   host: "{{ umdf_host }}"
  #   port: 4001

marketdata_namespace_th: ag-bkg-mock-marketdata-th

# tempo de espera para os pods do marketadata iniciarem apos start
marketdata_wait_seconds: 5

# FIX server
fix_dc_name: "fix-server-paqueta"
fix_ns_name: "ag-bkg-mock-oms-th"

fix_flavour_pause: 50

fix_flavour_target: "AGORA-MOCK-TEST"
fix_log_dir: "/opt/valemobi/initiator/logs"

heartbeat_pattern: "35=0|heartbeat"
msgseq_pattern: "MsgSeqNum"
session_restart_env_name: "SESSION_RESTART"
session_restart_env_value: "Y"

rollout_timeout_seconds: 100

# Caminhos temporários e kubeconfig
paths:
  kubeconfig_th: "/tmp/mock-kc-th-{{ awx_job_id | default('local') }}"
  tmpdir: "/tmp/mock-dia-inicio-{{ awx_job_id | default('local') }}"
kubeconfig_th: "{{ paths.kubeconfig_th }}"
